<div class="mb-3">
    <label for="title" class="form-label">Name: </label>
    <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
</div>
<div class="mb-3">
    <label for="desc" class="form-label">Title</label>
    <input type="text" class="form-control" name="desc" id="desc">
</div>
<div class="mb-3">
    <label for="desc" class="form-label">Department</label>
    <input type="text" class="form-control" name="desc" id="desc">
</div>
<div class="mb-3">
    <label for="desc" class="form-label">Salary</label>
    <input type="text" class="form-control" name="desc" id="desc">
</div>

<button type="submit" class="btn btn-dark">Submit</button>